<main class='contact-info'>
  <h1>
    <%=@contact.first_name.capitalize%> <%=@contact.last_name.capitalize%>
  </h1>
  <h2><%=@contact.email%></h2>
  <p><%=@contact.note%></p>

  <form class="Delete" action="/contacts/<%= @contact.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="Submit" value="Submit">Submit</button>
  </form>

</main>
